body {
  font-family: sans-serif;
  background: #0cebeb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b1d9e7,
    #b1d9e7,
    #b1d9e7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #60b2ce,
    orange,
    #60b2ce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.productImage {
  height: 100px;
  width: 100px;
  border-radius: 25px;
  display: block;
  object-position: center center;
  margin: 0 auto;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productDiv {
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  width: 20%;
}

.productNameDiv {
  text-align: center;
  margin-bottom: 10px;
}

.productName:hover {
  color: #fcc003;
}

.productDiv:hover {
  background-color: #bfa3da;
}

.productPrice {
  padding-top: 10px;
  text-align: center;
}

.siteHeader {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1.4px;
  text-shadow: 2px 2px #ff0000;
}

.linkLogin {
  color: blue;
  margin: 0.5em;
  display: inline-block;
}

.loginBtn {
  background-color: yellow;
  background-color: yellow;
  border-color: orange;
}
.loginBtn:hover {
  background-color: orange;
  background-color: orange;
  border-color: yellow;
}

.linkLogin:hover {
  color: red;
  text-decoration: underline green;
  text-shadow: 1px 1px 1px green, 1px 1px 1px green;
}

.usefulLinks {
  background-color: white;
  color: blue;
  border: 3px solid blue;
}

.smallText {
  font-weight: bold;
  text-decoration: underline;
}

.linksNavbar {
  display: flex;
  justify-content: space-between;
}
