body {
  font-family: sans-serif;
  /* background: #0cebeb;  */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    #b1d9e7,
    #b1d9e7,
    #b1d9e7
  );  */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to right,
    #60b2ce,
    #b1d9e7,
    #60b2ce
  );  */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 0;
}
html {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: #f8f8ff;
  background-size: 400% 400%;
  margin: 0;
  height: 100%;
}
/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Red border */
hr {
  border: 0px solid black;
  height: 0px;
  background: black;
  overflow: hidden;
  clear: none;
  display: block;
  width: 72%;
  color: #ffff00;
  height: 1px;
}

.productImage {
  display: block;
  object-position: center center;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  justify-content: center;
}

.productDiv {
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  width: 10%;
  flex-basis: 6em;
  min-width: 25%;
}

.productNameDiv {
  text-align: center;
  margin-bottom: 10px;
}

.productName {
  color: black;
}

.productName:hover {
  color: red;
  text-transform: none;
}

.productDiv:hover {
  background-color: #eeeec3;
}

.productPrice {
  padding-top: 10px;
  text-align: center;
}

.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.siteHeader {
  align-self: center;
  flex-grow: 1.2rem;
  text-align: center;
  border: 2px solid black;
  padding: 20px 20px 20px 20px;
  width: min-content;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: 800;
  font-style: italic;
  font-variant: normal;
  letter-spacing: 1.4px;
}

.tagline {
  align-self: center;
  flex-grow: 1.2rem;
  text-align: center;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 10pt;
  font-weight: 800;
  font-style: italic;
  font-variant: normal;
  letter-spacing: 1.4px;
}

.foot {
  position: fixed bottom;
  align-self: center;
  flex-grow: 1.2rem;
  text-align: center;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 10pt;
  font-weight: 800;
  font-variant: normal;
  letter-spacing: 1.4px;
  padding-bottom: 20px;
}

/* .siteHeader {
  position: relative;
  display: flex;
  justify-content: center;
  transform: translate(200%, 15%);
  border: 2px solid black;
  padding: 20px 20px 20px 20px;
  width: min-content;
  text-align: center;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: 800;
  font-style: italic;
  font-variant: normal;
  letter-spacing: 1.4px;
} */

.linkLogin {
  position: relative;
  justify-content: space-around;
  color: black;
  /* margin: 0.5em; */
  margin-top: 10px;
  display: inline-block;
  text-align: center;
}

/* span.linkLogin {
  display: inline;
  border: 2px solid black;
} */

.loginBtn {
  background-color: yellow;
  background-color: yellow;
  border-color: orange;
}
.loginBtn:hover {
  background-color: orange;
  background-color: orange;
  border-color: yellow;
}

.linkLogin:hover {
  color: red;
}

/* .usefulLinks {
  position: relative;
  transform: translate(575%);
  background-color: white;
  width: max-content;
  padding: 3px;
  color: black;
  border: 2px solid black;
  text-align: center;
} */

.smallText {
  font-weight: bold;
  text-decoration: underline;
}
.linksNavbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart-png {
  height: 40px;
  width: 40px;
}

.cart-link {
  flex-direction: end;
}

.nav-cart-count {
  position: relative;
}

.cartDiv {
  margin-left: 10px;
}

.cartProduct-image {
  border-radius: 25px;
  height: 100px;
}
.cartProduct {
}

.singleProductContainer {
  margin-left: 10px;
}

.singleProductImage {
  border-radius: 25px;
  height: auto;
  width: auto;
  margin: 15px 15px 15px 0px;
}
